<h1>Confirmation de mot de passe</h1>

<p>
    Confirmez votre compte: <br><br>
    <a href="{{ signedUrl|raw }}">EMaiul de confirmation</a>.
    expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
